Data/**/*.npy filter=lfs diff=lfs merge=lfs -text
Data/**/*.pdf filter=lfs diff=lfs merge=lfs -text
Data/**/*.png filter=lfs diff=lfs merge=lfs -text
Data/random_sat_data/**/*.sol filter=lfs diff=lfs merge=lfs -text
Data/random_sat_data/**/*.cnf filter=lfs diff=lfs merge=lfs -text
Data/random_sat_data/**/*.pkl filter=lfs diff=lfs merge=lfs -text
