name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      VIRTUAL_ENV: venv
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install virtualenv
      run: |
          python -m pip install --upgrade pip
          pip install virtualenv

    - name: Create virtualenv
      run: |
          virtualenv $VIRTUAL_ENV
          source $VIRTUAL_ENV/bin/activate

    - name: Install requirements
      run: |
          pip install -r requirements.txt

    - name: Install and run precommit hook
      run: |
          pip install pre-commit
          pip install --force-reinstall -v "pylint==2.17.4"

    - name: Install and run pre-commit hook
      run: |
          pre-commit install
          pre-commit run --all-files
