name: Security Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  DEP_PATH: /requirements.txt

jobs:
  security_check:
    name: Security Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Security vulnerabilities scan
        uses: aufdenpunkt/python-safety-check@master
      
          
